<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.nuclei">

    <application android:theme="@style/Theme.AppCompat.Light" android:name="nuclei3.TestApp">

        <meta-data android:name="nuclei3.sharing.authority" android:value="na" />

        <activity android:name="nuclei3.ui.TestSendActivity" android:label="Share to ME">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="nuclei3.ui.TestShareActivity"
            android:label="@string/share_via" />

        <activity android:name="nuclei3.ui.OffsetTestActivity" />
        <activity android:name="nuclei3.ui.OffsetTestActivity2" />

    </application>

</manifest>
